*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 383;
    font-style: normal;
}
body{
    margin: 0;
}

.cabeceraProgramacion{
    background-image:url(./imagenes/fondo.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 700px;
}

.logo1{
    animation: logo-1 ease-in 3s; 
}

@keyframes logo-1{
    0%{
    transform: translate(0,-10px);
    opacity:0;}
    20%{
    transform: translate(0,-10px);
    opacity:0;}
    50%{
    transform: translate(0,0px);
    opacity:1;}
    80%{
    transform: translate(0,0);
    opacity:1;}
    100%{
    transform: translate(0,0);
    opacity:1;}
}   

.logo2{
    animation: logo-2 ease-in 3s;
}
@keyframes logo-2{
    0%{
    transform: translate(0,-10px);
    opacity:0;}
    30%{
    transform: translate(0,-10px);
    opacity:0;}
    60%{
    transform: translate(0,0);
    opacity:1;}
    90%{
    transform: translate(0,0);
    opacity:1;}
    100%{
    transform:translate(0,0);
    opacity:1;}
    }

.logo3{
   animation: logo-3 ease 2s;
   animation-delay: 2s;
   animation-fill-mode: forwards;
}
 @keyframes logo-3{
    from{
        stroke: transparent;
    }
    to{
        stroke: green;
    }
    
}    
.cabecera{
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: transparent;
    width: 100%;
    transition: background-color 2s ease; 
    
}

.fondoCabecera{
    background-color: #ffffff;   
}

.anclas{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.ancla{
    text-decoration-line: none;
    color: white;
    text-shadow: #808080 2px 2px,#000000 3px 3px;
    transition: color 2s ease;
}

.ancla:hover{
    text-shadow: none;
    transform: translate(4px, 3px);
}

.colorAnclas{
    color: #2F3645;
    text-shadow: #ffffff 1px 1px,#808080 2px 2px; 
    font-weight: 500;
}

.tituloPrincipal{
    padding-top: 0px;
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    text-shadow: #808080 2px 2px,#000000 6px 6px;
    font-size: 60px; 
}

.contenido,h2,#tituloVideo{
    color: #2F3645;
    font-size: 50px;
    text-shadow: #ffffff 1px 1px,#808080 2px 2px;
    text-align: center;    
}

.seccionPrincipal{
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
}

.tarjeta1>img,.tarjeta2>img{
    width: 500px;
}

.seccion{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: baseline;
}

.tarjeta1,.tarjeta2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    visibility: hidden;
}

.animacionTarjeta1{
    animation: cambioPosicion1 ease-out 6s;
    animation-fill-mode: forwards;
}

.animacionTarjeta2{
    animation: cambioPosicion2 ease-out 5s;
    animation-fill-mode: forwards;
}

.tarjeta1>p,.tarjeta2>p{
    font-size: 15px;
    text-align: center;
    align-items: flex-start;
}

@keyframes cambioPosicion1{ /*contenedor historia*/
    from{
        transform: translateX(-900px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: none;
        visibility: visible;
    }
}

@keyframes cambioPosicion2{ /*contenedor juego*/
    from{
        transform: translateX(900px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: none;
        visibility: visible;
    }
}

.boton1,.boton2{
    text-decoration: none;
    color: #ffffff;
    background-color: #2F3645;
    padding: 10px 120px;
}

.pie{
    display: flex;
    flex-direction: row;
    background-color: #2F3645;
    justify-content: space-between;
    padding: 50px;
    color: #ffffff;
    align-items: center;
}

.logo>img{
    width: 100px;
}

.logo{
    display: flex;
    gap: 80px;
    text-align: center;
}

.cabeceraHistoria{
    background-image: url(./imagenes/historia-programacion.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;   
}

.tituloHistoria{
    text-align: center;
    padding: 20px;   
}

.contenedor{
    display: flex;
    flex-direction: row;
    padding: 150px 50px 0;
    gap: 50px;
    align-items: center;
    perspective: 800px;
    perspective-origin: top;
}

.img{
    width: 600px;
    visibility: hidden;   
}

.texto1,.texto2,.texto3{
    visibility: hidden;
}

.animacionImagenes1{
    animation: animacionImagen1 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes animacionImagen1{ /*imagen 1 y 3*/
    from{
        transform: translateZ(500px) translateX(-500px);
        visibility:visible
    }
  to{
        transform: translateZ(0px);
        visibility:visible
    }
}    

.animacionImagenes2{
    animation: animacionImagen2 1s ease-out;
    animation-fill-mode: forwards;
}

@keyframes animacionImagen2{
    from{
        transform: translateZ(500px) translateX(500px);
        visibility:visible
    }
  to{
        transform: translateZ(0px);
        visibility:visible
    }
}

.animacionTexto1{
    animation: animacionTexto1 2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes animacionTexto1{
    from{
        transform: translateZ(-500px) translateX(500px) rotateY(-45deg);
        visibility:visible
    }
  to{
    transform: translateZ(0px);
    visibility:visible
    }
}

.animacionTexto2{
    animation: animacionTexto2 2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes animacionTexto2{ 
    from{
        transform: translateZ(-500px) translateX(-500px) rotateY(45deg);
        visibility:visible
    }
  to{
    transform: translateZ(0px);
    visibility:visible
    }
}

div>h2{
    font-weight: 500;
}

section>div>div>p{
    color: #2F3645;
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contededorVideo{
    display: flex;
    flex-direction: column;
    background-color: #2F3645;
    padding: 5px 5px 50px 5px;
    justify-content: center;
    align-items: center;
    width: 800px;  
    margin-bottom: 100px;  
}

video{
    width: 100%;    
}

#barra{
    display: flex;
    gap: 400px;
    align-items: center;
}

#controles{
    display: flex;
    gap: 30px;
}

button{
    padding: 10px 40px;
    box-shadow: #808080 2px 2px;
    display: flex;
    margin: auto;
    padding: 10px 100px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    background-color: #2F3645;
    font-weight: 200;
}

button:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}

#tiempo{
    color: white;
}

.cabeceraJuguemos{
    background-image: url(./imagenes/img2.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;
    justify-content: center;
    width: 100%;
}

.rompecabezas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    text-align: center;
    perspective: 800px;
}

.zona{
    width: 200px;
    height: 300px;
    display: flex;
    border: 2px solid black;
    background-color: grey;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    }

.zonaDestino{
    display: flex;
    gap: 20px;
}

.pieza{
    width: 180px;
    transition: transform 0.3s;
}

#pieza1{
    transform: rotate(8deg);
    position: sticky;
    z-index: 1;
}
#pieza2{
    transform: rotate(-10deg);

}

#pieza3{
    transform: rotate(93deg);
}

.zona:hover{
    background-color: #1d1d1d;       
}

.primerSeccion{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.zona img {
    width: 100%;
    height: 100%;
}

#reiniciar {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    position: relative;
    top: -120px;
}

/*-----------clases para modificar---------------*/
/* Unión de piezas */
.zonaDestino.unir {
    gap: 0 !important;
    transform: scale(1.1);
    transition: all 1.5s ease-in-out;
}
.zonaDestino.unir .zona { border: 0; padding: 0; }

/* Ocultar secciones para el final */
.ocultar {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

/* Animación del H2 bajando */
.mensaje-final-animado {
    animation: feliz 3s forwards;
    z-index: 100;
}

@keyframes feliz {
    0% { transform: translateY(0) translateZ(0); }
    50% { transform: translateY(250px) translateZ(200px) scale(1.2); }
    100% { transform: translateY(150px) translateZ(0px) scale(1.3); }
}

#reiniciar {
    opacity: 0;
    transition: opacity 1s ease;
}

#reiniciar.visible {
    opacity: 1;
}