body{
    margin: 0;
}

.cabecera{
    background-image:url(./imagenes/fondo.jpg);
    background-attachment: fixed;
    background-size: 1600px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.anclas{
    display: flex;
    font-size: 25px;
    justify-content: flex-end;
    padding: 40px;
    gap: 20px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.historia,.juguemos{
    text-decoration-line: none;
    text-shadow: #ffffff 1px 1px,#808080 2px 2px;
    color: #2F3645;
}

.tituloPrincipal{
    padding: 300px 300px;
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    text-shadow: #808080 2px 2px,#000000 6px 6px;
    font-size: 60px; 
}

h1,.anclas,h2,.tarjeta1>p,.tarjeta2>p,.boton1,.boton2,.pie,p,#tituloVideo,.zona{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 383;
    font-style: normal;
}

.contenido,h2,#tituloVideo{
    color: #2F3645;
    font-size: 50px;
    text-shadow: #ffffff 1px 1px,#808080 2px 2px;
    text-align: center;
    padding: 20px;
}

.seccionPrincipal{
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
}

.tarjeta1>img,.tarjeta2>img{
    width: 500px;
}

.seccion{
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: baseline;
}

.tarjeta1,.tarjeta2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

}

.tarjeta1>p,.tarjeta2>p{
    font-size: 15px;
    text-align: center;
    align-items: flex-start;
}

.boton1,.boton2{
    text-decoration: none;
    color: #ffffff;
    background-color: #2F3645;
    padding: 10px 120px;
}

.pie{
    display: flex;
    flex-direction: row;
    background-color: #2F3645;
    justify-content: space-between;
    padding: 50px;
    color: #ffffff;
    align-items: center;
}

.logo>img{
    width: 100px;
}

.logo{
    display: flex;
    gap: 80px;
    text-align: center;
}

.cabeceraHistoria{
    background-image: url(./imagenes/historia-programacion.jpg);
    background-attachment: fixed;
    background-size: 1600px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
}

.tituloHistoria{
    text-align: center;   
}

.contenedor1,.contenedor2,.contenedor3{
    display: flex;
    flex-direction: row;
    padding: 150px 50px 0;
    gap: 50px;
    align-items: center;
}

.img1,.img2,.img3{
    width: 700px;
}

div>h2{
    font-weight: 500;
}

section>div>div>p{
    color: #2F3645;
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contededorVideo{
    display: flex;
    flex-direction: column;
    background-color: #2F3645;
    padding: 5px 5px 50px 5px;
    justify-content: center;
    align-items: center;
    width: 800px;  
    margin-bottom: 100px;  
}

video{
    width: 100%;    
}

#barra{
    display: flex;
    gap: 400px;
    align-items: center;
}

#controles{
    display: flex;
    gap: 30px;
}

button{
    padding: 10px 40px;
    box-shadow: #808080 2px 2px;
}

button:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}

#tiempo{
    color: white;
}

.cabeceraJuguemos{
    background-image: url(./imagenes/img2.jpg);
    background-attachment: fixed;
    background-size: 1600px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
}

.rompecabezas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.pieza{
    width: 180px;
}

.zona{
    width: 200px;
    height: 350px;
    display: flex;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 10px;
}

#pieza1{
    transform: rotate(8deg);
}
#pieza2{
    transform: rotate(-10deg);
}

#pieza3{
    transform: rotate(93deg);
}
.zona:hover{
    background-color: #1d1d1d;
    
}

#zona1,#zona2,#zona3{
    
}

.primerSeccion{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

.zonaDestino{
    display: flex;
    gap: 50px;
}